#parallax {
    background: #fff url('https://c1.staticflickr.com/1/1/2228929_079c5b21ff_z.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 3;
    height: 550px;
    width: 100%;
}

div.qoute-box {
    color: #fff;
    font-size: 3.5em;
    line-height: 68px;
    border: 0px solid #fff;
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Tangerine', serif;
    text-shadow: 10px 10px 10px black;
    border-radius: 10% 1% 10% 1%;
}

div.qoute-box,
#con1,
.card-image {
    -webkit-box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
    -moz-box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
    box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
}

.header-text {
    padding: 5%;
}

.header-h1 {
    text-align: center;
    font-family: "Tangerine", serif;
    font-size: 3.5em;
}
@media (max-width: 500px) {
    #content4 {
        display: none;
    }
}