    label {
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 1.2em;
    }

    body {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
        background: darkslategrey;
    }

    .cover-ad {
        background: darkslategrey;
        height: 80px;
        width: 100%;
        position: relative;
        bottom: 60px;
        z-index: 1;
    }

    #appointment {
        background: url("appointment.jpg")no-repeat fixed center;
    }
