    #content0a,
    #content0 {
        display: none;
    }

    #content1 {
        padding: 1%;
        margin: 0;
    }

    #content2 {
        background-image: none;
        padding-top: 0px;
        padding-bottom: 40px;
        margin-top: 0px;
    }

    #phone-num {
        color: lawngreen;
        text-shadow: 2px 2px 2px black;
    }

    #content4 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px
    }

    .grid2 .card-desc {
        display: none;
    }

    #parallax {
        background: #fff url('https://c1.staticflickr.com/1/1/2228929_079c5b21ff_z.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        z-index: 3;
        height: 450px;
    }

    p.lead {
        text-align: center;
        font-family: 'Tangerine', cursive;
        font-size: 3em;
    }

    div.qoute-box {
        color: #fff;
        font-size: 44px;
        line-height: 68px;
        border: 0px solid #fff;
        padding: 10px;
        width: 80%;
        margin: auto;
        text-align: center;
        font-family: 'Tangerine', cursive;
        text-shadow: 4px 4px 4px black;
        -webkit-box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
        -moz-box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
        box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
        border-radius: 10% 1% 10% 1%;
    }
