     #parallax-services {
        background: #fff url('https://c1.staticflickr.com/1/1/2228929_079c5b21ff_z.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        z-index: 3;
        height: 450px;
    }

    div.qoute-box {
        color: #fff;
        font-size: 48px;
        line-height: 48px;
        border: 0px solid #fff;
        padding: 10px;
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 40px;
        font-family: 'Tangerine', serif;
        -webkit-box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
        -moz-box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
        box-shadow: 4px 7px 46px 13px rgba(255, 255, 255, 1);
        border-radius: 10% 1% 10% 1%;
    }

    a.cd-faq-trigger {
        font-weight: normal;
        color: #fff;
        font-size: 24px
    }

    div.panel-collapse {
        font-size: 18px;
        padding-top: 20px
    }

    #content0 {
        height: 0px
    }

    #content3 {
        padding: 0px;
        margin: 0px
    }

    #content5 {
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0px
    }

    #content6 {
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0px
    }
@media (max-width: 500px) {
    #content3 {
        display: none;
    }
}
