.grid2 .item {
    width: 33.33%;
}

.grid2 .item-border-testimonials {
    border: 1px solid #fafafa;
    margin: 16px;
    padding: 16px;
    border-radius: 6px;
}

.card-caption-testimonials {
    padding: 3%;
    text-shadow: 1px 1px 1px white;
}

