body {
    background-color: ghostwhite;
}

#parallax {
    background: #fff url('css/cloud.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 3;
    height: 450px;
    padding: 3%;
}

div.qoute-box {
    color: white;
    font-size: 2em;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    border-radius: 100%;
}

.shadow-profile-inset {
    -webkit-box-shadow: inset 1px 1px 100px 15px white;
    box-shadow: inset 1px 1px 100px 15px white;
}

.shadow-profile-outset {
    -webkit-box-shadow: 1px 1px 100px 15px white;
    box-shadow: 1px 1px 100px 15px white;
}


#main,
#index-logo-main {
    padding: 3%;
}

#bs-example-navbar-collapse-1 {
    padding: 1% 2% 0 0;
}

a,
.navbar {
    background-color: #333;
    color: white;
}

a:hover {
    color: lawngreen;
    border: 1px solid;
    border-color: red;
}

.fb-like {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 500;
    opacity: .7;
}

.container {
    padding-top: 10%;
}

.bg-black {
    background-color: #333;
    color: white;
}

.footer {
    padding-top: 3%;
    padding-bottom: 8%;
}

section {
    padding-top: 1%;
    padding-bottom: 1%;
}

.lead {
        padding-bottom: 30%;
}